{% extends "accounts/layout.html" %}

{% block content %}

    <h2>User : {{ user }}</h2>
    {{ user.is_authenticated }}

    {% if user.profile %}
        <ul>
            <li>{{ user.profile.address }}</li>
            <li>{{ user.profile.zipcode }}</li>
        </ul>
    {% endif %}

    <a href="{% url "profile_edit" %}" class="btn btn-primary">Profile edit</a>
{% endblock content %}