{% extends "instagram/layout.html" %}

{% block content %}
    <form action="" method="POST">
        {%  csrf_token %}

        <div class="alert alert-danger">
            Do you want to delete?
        </div>

        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">
            Check content
        </a>
        <input type="submit" value="delete" class="btn btn-danger"/>
    </form>
{% endblock content %}
