{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    <title>Instagram / Post Detail</title>
{% endblock %}

{% block content %}
    <h2>Author: {{ post.author }}</h2>

    {% if post.photo %}
        <div>
            <img src="{{ post.photo.url }}"/>
        </div>
    {% endif %}
    {{  post.message|linebreaks }}

    <a href="{% url 'instagram:post_list' %}" class="btn btn-primary">
        List
    </a>

    <a href="{% url 'instagram:post_edit' post.pk %}" class="btn btn-info">
        Edit
    </a>

    <a href="{% url 'instagram:post_delete' post.pk %}" class="btn btn-danger">
        Delete
    </a>

{% endblock %}