{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block title %}
    <title>Instagram / Post List</title>
{% endblock %}

{% block content %}
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}" />
        <input type="submit" value="search" />
    </form>

    <a href="{%  url 'instagram:post_new' %}" class="btn btn-primary btn-block mt-3 mb-3">New Post</a>

    <table class="table table-bordered table-hover">
        <tbody>
        {%  for post in post_list %}
            <tr>
                <td>
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" style="width:100px;"/>
                    {%  else %}
                        No Photo
                    {%  endif %}
                </td>
                <td>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.message }}
                    </a>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    {{ is_paginated }}
    {{ page_obj }}

    {% if is_paginated %}
        {% bootstrap_pagination page_obj size="small" %}
    {%  endif  %}

{% endblock %}
