<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>latest</h2>
{{ latest }}
<h2>date_list</h2>
{% for date in date_list %}
    {{ date.year }}
    {{ date|date:"Y" }}
{%  endfor %}
</body>
</html>