{% extends "instagram/layout.html" %}
{% load bootstrap4 %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
{#    <table>#}
{#        {{ form.as_table }}#}
{#    </table>#}
    {% buttons %}
        <input type="submit" value="save"/>
    {% endbuttons %}


    <hr/>
    {% if post %}
        <a href="{{ post.instance.get_absolute_url }}">
            content
        </a>
    {% endif %}
        <a href="{% url "instagram:post_list" %}" class="btn btn-primary">List</a>

{% endblock %}